body {
  font-family: sans-serif;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}


.hero {
  background-image: url("/src/supply_chain_frontend/assets/logo2.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  padding: 80px;
 

}

.inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.inputs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.node-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.node-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  height: 250px;
  width: 300px;
  background-color: #f9f9f9;
}